In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from tqdm import tqdm
import os

In [2]:
_dir = '_19'
_file_ls = os.listdir(_dir)
_file_ls

['_1901_freezer_log.csv',
 '_1901_suhp_log.csv',
 '_1901_suth_log.csv',
 '_1902_freezer_log.csv',
 '_1902_suhp_log.csv',
 '_1902_suth_log.csv',
 '_1903_freezer_log.csv',
 '_1903_suhp_log.csv',
 '_1903_suth_log.csv']

In [3]:
freez1 = pd.read_csv(os.path.join(_dir, _file_ls[0]))
suth1 = pd.read_csv(os.path.join(_dir, _file_ls[2]))

In [4]:
freez1.columns
freez1.columns = ['freezer_id', 'gw_time', 'status', 'fan_run', 'fan_trip',
       'freez_run', 'freez_trip', 'defrost', 'ctrl_mode', 'ctrl_operation',
       'operation', 'run_time', 'insert_dt']

In [5]:
suth1.columns
suth1.columns = ['sensor_id', 'gw_time', 'status', 'color_list', 'avg_temperature',
       'avg_humidity', 'temperature', 'humidity', 'battery', 'available',
       'insert_dt']

In [6]:
freez1.head(3)

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt
0,61,2019-01-01 00:00:39,1,1.0,0.0,1.0,0.0,0.0,1,1,1,0,2019-01-01 00:00:40
1,61,2019-01-01 00:01:10,1,1.0,0.0,1.0,0.0,0.0,1,1,1,1,2019-01-01 00:01:10
2,61,2019-01-01 00:01:40,1,1.0,0.0,1.0,0.0,0.0,1,1,1,1,2019-01-01 00:01:40

In [7]:
suth1.head(3)

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt
0,51,2019-01-01 00:00:38,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.03,74.85,-28.17,77.22,100,1,2019-01-01 00:00:38
1,51,2019-01-01 00:01:08,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.07,74.75,-28.20,77.08,100,1,2019-01-01 00:01:08
2,51,2019-01-01 00:01:38,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.10,74.66,-28.23,76.96,100,1,2019-01-01 00:01:38

In [8]:
freezer = freez1.copy()
freezer['key'] = [None]*len(freezer)

In [9]:
sensor_id_17 = [269, 272]
freezer_id_17 = [281, 287]
sensor_17 = pd.DataFrame()
freezer_17 = pd.DataFrame()
for elem in sensor_id_17:
    sensor_17 = pd.concat([sensor_17, suth1[suth1['sensor_id'] == elem]])
    print("sensor id {}의 데이터 개수: {}".format(elem, len(suth1[suth1['sensor_id'] == elem])))
for elem in freezer_id_17:
    freezer_17 = pd.concat([freezer_17, freezer[freezer['freezer_id'] == elem]])
    print("freezer id {}의 데이터 개수: {}".format(elem, len(freezer[freezer['freezer_id'] == elem])))


print(sensor_17['sensor_id'].unique())
print(freezer_17['freezer_id'].unique())

sensor id 269의 데이터 개수: 4063
sensor id 272의 데이터 개수: 4063
freezer id 281의 데이터 개수: 6531
freezer id 287의 데이터 개수: 6531
[269 272]
[281 287]

In [10]:
# 1월 데이터는 29일 부터 수집이므로 freezer 앞부분 데이터 삭제
freezer_17 = freezer_17.sort_values(by = 'gw_time', ascending= True).reset_index(drop = True)
freezer_17 = freezer_17.reset_index(drop = True)
freezer_17

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt,key
0,281,2019-01-29 17:11:31,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:31,None
1,287,2019-01-29 17:11:31,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:31,None
2,281,2019-01-29 17:11:47,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:48,None
3,287,2019-01-29 17:11:47,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:48,None
4,281,2019-01-29 17:12:18,1,1.0,0.0,0.0,0.0,0.0,0,1,1,28,2019-01-29 17:12:18,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13057,281,2019-01-31 23:58:44,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1438,2019-01-31 23:58:44,None
13058,287,2019-01-31 23:59:14,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:14,None
13059,281,2019-01-31 23:59:14,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:14,None
13060,281,2019-01-31 23:59:44,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:44,None
13061,287,2019-01-31 23:59:44,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:44,None

In [11]:
sensor_17

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt
492080,269,2019-01-29 13:52:58,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.90,25.35,-1.90,25.35,100,1,2019-01-29 13:52:58
492081,269,2019-01-29 13:53:29,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.93,25.34,-1.93,25.34,100,1,2019-01-29 13:53:29
492082,269,2019-01-30 13:41:25,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.60,17.22,-3.21,34.44,100,1,2019-01-30 13:41:25
492083,269,2019-01-30 13:41:55,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.60,17.25,-3.19,34.49,100,1,2019-01-30 13:41:56
492084,269,2019-01-30 13:42:26,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.58,17.31,-3.16,34.63,100,1,2019-01-30 13:42:26
...,...,...,...,...,...,...,...,...,...,...,...
500201,272,2019-01-31 23:57:46,3,"{""total_status"": ""grey""}",-3.01,23.92,-99999.00,-99999.00,-99999,0,2019-01-31 23:57:45
500202,272,2019-01-31 23:58:16,3,"{""total_status"": ""grey""}",-3.02,23.95,-99999.00,-99999.00,-99999,0,2019-01-31 23:58:16
500203,272,2019-01-31 23:58:46,3,"{""total_status"": ""grey""}",-3.01,24.03,-99999.00,-99999.00,-99999,0,2019-01-31 23:58:46
500204,272,2019-01-31 23:59:16,3,"{""total_status"": ""grey""}",-3.01,24.11,-99999.00,-99999.00,-99999,0,2019-01-31 23:59:16
500205,272,2019-01-31 23:59:46,3,"{""total_status"": ""grey""}",-3.00,24.10,-99999.00,-99999.00,-99999,0,2019-01-31 23:59:46

In [12]:
sensor_17['key'] = [x for x in range(len(sensor_17))]

In [13]:
suth_4elem = sensor_17.reset_index(drop = True)
suth_4elem['gw_time'] = pd.to_datetime(suth_4elem['gw_time'])
freezer_17['gw_time'] = pd.to_datetime(freezer_17['gw_time'])
from tqdm import tqdm
for i in tqdm(range(len(suth_4elem))):
    freezer_17.loc[(suth_4elem.loc[i,'gw_time']-freezer_17['gw_time'] <=  dt.timedelta(seconds=30)) & (suth_4elem.loc[i,'gw_time']- freezer_17['gw_time'] >= dt.timedelta(seconds=0)), 'key'] = suth_4elem.loc[i,'key']

100%|██████████| 8126/8126 [00:10<00:00, 739.75it/s]

In [14]:
suth_4elem.sort_values(by = 'gw_time')
suth_4elem['key'] = suth_4elem['key'].astype('object')

In [15]:
suth_4elem

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt,key
0,269,2019-01-29 13:52:58,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.90,25.35,-1.90,25.35,100,1,2019-01-29 13:52:58,0
1,269,2019-01-29 13:53:29,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.93,25.34,-1.93,25.34,100,1,2019-01-29 13:53:29,1
2,269,2019-01-30 13:41:25,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.60,17.22,-3.21,34.44,100,1,2019-01-30 13:41:25,2
3,269,2019-01-30 13:41:55,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.60,17.25,-3.19,34.49,100,1,2019-01-30 13:41:56,3
4,269,2019-01-30 13:42:26,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",-1.58,17.31,-3.16,34.63,100,1,2019-01-30 13:42:26,4
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,272,2019-01-31 23:57:46,3,"{""total_status"": ""grey""}",-3.01,23.92,-99999.00,-99999.00,-99999,0,2019-01-31 23:57:45,8121
8122,272,2019-01-31 23:58:16,3,"{""total_status"": ""grey""}",-3.02,23.95,-99999.00,-99999.00,-99999,0,2019-01-31 23:58:16,8122
8123,272,2019-01-31 23:58:46,3,"{""total_status"": ""grey""}",-3.01,24.03,-99999.00,-99999.00,-99999,0,2019-01-31 23:58:46,8123
8124,272,2019-01-31 23:59:16,3,"{""total_status"": ""grey""}",-3.01,24.11,-99999.00,-99999.00,-99999,0,2019-01-31 23:59:16,8124
8125,272,2019-01-31 23:59:46,3,"{""total_status"": ""grey""}",-3.00,24.10,-99999.00,-99999.00,-99999,0,2019-01-31 23:59:46,8125

In [16]:
freezer_17

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt,key
0,281,2019-01-29 17:11:31,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:31,None
1,287,2019-01-29 17:11:31,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:31,None
2,281,2019-01-29 17:11:47,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:48,None
3,287,2019-01-29 17:11:47,1,1.0,0.0,0.0,0.0,0.0,0,0,0,27,2019-01-29 17:11:48,None
4,281,2019-01-29 17:12:18,1,1.0,0.0,0.0,0.0,0.0,0,1,1,28,2019-01-29 17:12:18,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13057,281,2019-01-31 23:58:44,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1438,2019-01-31 23:58:44,8123
13058,287,2019-01-31 23:59:14,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:14,8124
13059,281,2019-01-31 23:59:14,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:14,8124
13060,281,2019-01-31 23:59:44,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:44,8125
13061,287,2019-01-31 23:59:44,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:44,8125

In [17]:
df = pd.merge(freezer_17, suth_4elem, how = 'inner', on = 'key').sort_values(by = 'key')
key = df['key']
gw_time_x = df['gw_time_x']
gw_time_y = df['gw_time_y']
df = df.drop(columns= ['key','gw_time_x','gw_time_y'])
df.insert(0,'key',key)
df.insert(1,'gw_time_x',gw_time_x)
df.insert(2,'gw_time_y',gw_time_y)
df

,key,gw_time_x,gw_time_y,freezer_id,status_x,fan_run,fan_trip,freez_run,freez_trip,defrost,...,sensor_id,status_y,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt_y
0,4065,2019-01-30 13:40:56,2019-01-30 13:41:25,287,1,1.0,0.0,0.0,0.0,0.0,...,272,0,"{""humidity"": ""red"", ""temperature"": ""red"", ""tot...",-1.60,17.22,0.0,0.0,0,1,2019-01-30 13:41:25
1,4065,2019-01-30 13:40:56,2019-01-30 13:41:25,281,1,1.0,0.0,0.0,0.0,0.0,...,272,0,"{""humidity"": ""red"", ""temperature"": ""red"", ""tot...",-1.60,17.22,0.0,0.0,0,1,2019-01-30 13:41:25
2,4066,2019-01-30 13:41:27,2019-01-30 13:41:55,281,1,1.0,0.0,0.0,0.0,0.0,...,272,0,"{""humidity"": ""red"", ""temperature"": ""red"", ""tot...",-1.60,17.25,0.0,0.0,0,1,2019-01-30 13:41:56
3,4066,2019-01-30 13:41:27,2019-01-30 13:41:55,287,1,1.0,0.0,0.0,0.0,0.0,...,272,0,"{""humidity"": ""red"", ""temperature"": ""red"", ""tot...",-1.60,17.25,0.0,0.0,0,1,2019-01-30 13:41:56
4,4067,2019-01-30 13:41:57,2019-01-30 13:42:26,287,1,1.0,0.0,0.0,0.0,0.0,...,272,0,"{""humidity"": ""red"", ""temperature"": ""red"", ""tot...",-1.58,17.31,0.0,0.0,0,1,2019-01-30 13:42:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8139,8123,2019-01-31 23:58:44,2019-01-31 23:58:46,281,1,1.0,0.0,0.0,0.0,0.0,...,272,3,"{""total_status"": ""grey""}",-3.01,24.03,-99999.0,-99999.0,-99999,0,2019-01-31 23:58:46
8140,8124,2019-01-31 23:59:14,2019-01-31 23:59:16,287,1,1.0,0.0,0.0,0.0,0.0,...,272,3,"{""total_status"": ""grey""}",-3.01,24.11,-99999.0,-99999.0,-99999,0,2019-01-31 23:59:16
8141,8124,2019-01-31 23:59:14,2019-01-31 23:59:16,281,1,1.0,0.0,0.0,0.0,0.0,...,272,3,"{""total_status"": ""grey""}",-3.01,24.11,-99999.0,-99999.0,-99999,0,2019-01-31 23:59:16
8142,8125,2019-01-31 23:59:44,2019-01-31 23:59:46,281,1,1.0,0.0,0.0,0.0,0.0,...,272,3,"{""total_status"": ""grey""}",-3.00,24.10,-99999.0,-99999.0,-99999,0,2019-01-31 23:59:46
8143,8125,2019-01-31 23:59:44,2019-01-31 23:59:46,287,1,1.0,0.0,0.0,0.0,0.0,...,272,3,"{""total_status"": ""grey""}",-3.00,24.10,-99999.0,-99999.0,-99999,0,2019-01-31 23:59:46

In [18]:
# mapping 안된 데이터 개수
freezer_17['key'].isnull().sum()

4918