In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from tqdm import tqdm
import os

In [2]:
_dir = '_19'
_file_ls = os.listdir(_dir)
_file_ls

['_1901_freezer_log.csv',
 '_1901_suhp_log.csv',
 '_1901_suth_log.csv',
 '_1902_freezer_log.csv',
 '_1902_suhp_log.csv',
 '_1902_suth_log.csv',
 '_1903_freezer_log.csv',
 '_1903_suhp_log.csv',
 '_1903_suth_log.csv']

In [3]:
freez1 = pd.read_csv(os.path.join(_dir, _file_ls[0]))
suth1 = pd.read_csv(os.path.join(_dir, _file_ls[2]))

In [4]:
freez1.columns
freez1.columns = ['freezer_id', 'gw_time', 'status', 'fan_run', 'fan_trip',
       'freez_run', 'freez_trip', 'defrost', 'ctrl_mode', 'ctrl_operation',
       'operation', 'run_time', 'insert_dt']

In [5]:
suth1.columns
suth1.columns = ['sensor_id', 'gw_time', 'status', 'color_list', 'avg_temperature',
       'avg_humidity', 'temperature', 'humidity', 'battery', 'available',
       'insert_dt']

In [6]:
freez1.head(3)

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt
0,61,2019-01-01 00:00:39,1,1.0,0.0,1.0,0.0,0.0,1,1,1,0,2019-01-01 00:00:40
1,61,2019-01-01 00:01:10,1,1.0,0.0,1.0,0.0,0.0,1,1,1,1,2019-01-01 00:01:10
2,61,2019-01-01 00:01:40,1,1.0,0.0,1.0,0.0,0.0,1,1,1,1,2019-01-01 00:01:40

In [7]:
suth1.head(3)

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt
0,51,2019-01-01 00:00:38,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.03,74.85,-28.17,77.22,100,1,2019-01-01 00:00:38
1,51,2019-01-01 00:01:08,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.07,74.75,-28.20,77.08,100,1,2019-01-01 00:01:08
2,51,2019-01-01 00:01:38,1,"{""humidity"": ""green"", ""temperature"": ""green"", ...",-29.10,74.66,-28.23,76.96,100,1,2019-01-01 00:01:38

In [8]:
freezer = freez1.copy()
freezer['key'] = [None]*len(freezer)

In [9]:
sensor_id_18 = [431, 440, 449, 461]
freezer_id_18 = [473, 479, 485]
sensor_18 = pd.DataFrame()
freezer_18 = pd.DataFrame()
for elem in sensor_id_18:
    sensor_18 = pd.concat([sensor_18, suth1[suth1['sensor_id'] == elem]])
    print("sensor id {}의 데이터 개수: {}".format(elem, len(suth1[suth1['sensor_id'] == elem])))
for elem in freezer_id_18:
    freezer_18 = pd.concat([freezer_18, freezer[freezer['freezer_id'] == elem]])
    print("freezer id {}의 데이터 개수: {}".format(elem, len(freezer[freezer['freezer_id'] == elem])))


print(sensor_18['sensor_id'].unique())
print(freezer_18['freezer_id'].unique())

sensor id 431의 데이터 개수: 6489
sensor id 440의 데이터 개수: 6489
sensor id 449의 데이터 개수: 6469
sensor id 461의 데이터 개수: 6469
freezer id 473의 데이터 개수: 6683
freezer id 479의 데이터 개수: 6683
freezer id 485의 데이터 개수: 6683
[431 440 449 461]
[473 479 485]

In [10]:
# 1월 데이터는 29일 부터 수집이므로 freezer 앞부분 데이터 삭제
freezer_18 = freezer_18.sort_values(by = 'gw_time', ascending= True).reset_index(drop = True)
freezer_18 = freezer_18.reset_index(drop = True)
freezer_18

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt,key
0,473,2019-01-29 15:46:18,1,1.0,0.0,1.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:18,None
1,485,2019-01-29 15:46:18,1,1.0,0.0,0.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:18,None
2,479,2019-01-29 15:46:18,1,1.0,0.0,0.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:18,None
3,473,2019-01-29 15:46:41,1,1.0,0.0,1.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:41,None
4,485,2019-01-29 15:46:41,1,1.0,0.0,0.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:41,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20044,479,2019-01-31 23:59:11,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:11,None
20045,473,2019-01-31 23:59:11,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:11,None
20046,473,2019-01-31 23:59:42,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:42,None
20047,479,2019-01-31 23:59:42,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:42,None
20048,485,2019-01-31 23:59:42,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:42,None

In [11]:
sensor_18

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt
562164,431,2019-01-29 15:38:50,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.50,42.69,3.83,40.31,100,1,2019-01-29 15:38:50
562165,431,2019-01-29 15:38:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.51,42.68,3.84,40.30,100,1,2019-01-29 15:38:59
562166,431,2019-01-29 15:39:29,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.52,42.64,3.86,40.25,100,1,2019-01-29 15:39:29
562167,431,2019-01-29 15:39:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.53,42.65,3.88,40.25,100,1,2019-01-29 15:39:59
562168,431,2019-01-29 15:40:31,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.55,42.59,3.89,40.23,100,1,2019-01-29 15:40:30
...,...,...,...,...,...,...,...,...,...,...,...
600417,461,2019-01-31 23:57:47,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.05,38.93,3.92,41.08,100,1,2019-01-31 23:57:47
600418,461,2019-01-31 23:58:17,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.06,38.90,3.93,41.08,100,1,2019-01-31 23:58:18
600419,461,2019-01-31 23:58:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.90,3.95,41.06,100,1,2019-01-31 23:58:48
600420,461,2019-01-31 23:59:18,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.88,3.96,41.02,100,1,2019-01-31 23:59:18
600421,461,2019-01-31 23:59:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48

In [12]:
sensor_18['key'] = [x for x in range(len(sensor_18))]

In [13]:
suth_4elem = sensor_18.reset_index(drop = True)
suth_4elem['gw_time'] = pd.to_datetime(suth_4elem['gw_time'])
freezer_18['gw_time'] = pd.to_datetime(freezer_18['gw_time'])
from tqdm import tqdm
for i in tqdm(range(len(suth_4elem))):
    freezer_18.loc[(suth_4elem.loc[i,'gw_time']-freezer_18['gw_time'] <=  dt.timedelta(seconds=30)) & (suth_4elem.loc[i,'gw_time']- freezer_18['gw_time'] >= dt.timedelta(seconds=0)), 'key'] = suth_4elem.loc[i,'key']

100%|██████████| 25916/25916 [00:38<00:00, 668.37it/s]

In [20]:
suth_4elem.sort_values(by = 'gw_time')
suth_4elem['key'] = suth_4elem['key'].astype('object')

In [24]:
suth_4elem

,sensor_id,gw_time,status,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt,key
0,431,2019-01-29 15:38:50,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.50,42.69,3.83,40.31,100,1,2019-01-29 15:38:50,0
1,431,2019-01-29 15:38:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.51,42.68,3.84,40.30,100,1,2019-01-29 15:38:59,1
2,431,2019-01-29 15:39:29,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.52,42.64,3.86,40.25,100,1,2019-01-29 15:39:29,2
3,431,2019-01-29 15:39:59,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.53,42.65,3.88,40.25,100,1,2019-01-29 15:39:59,3
4,431,2019-01-29 15:40:31,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.55,42.59,3.89,40.23,100,1,2019-01-29 15:40:30,4
...,...,...,...,...,...,...,...,...,...,...,...,...
25911,461,2019-01-31 23:57:47,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.05,38.93,3.92,41.08,100,1,2019-01-31 23:57:47,25911
25912,461,2019-01-31 23:58:17,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.06,38.90,3.93,41.08,100,1,2019-01-31 23:58:18,25912
25913,461,2019-01-31 23:58:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.90,3.95,41.06,100,1,2019-01-31 23:58:48,25913
25914,461,2019-01-31 23:59:18,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.88,3.96,41.02,100,1,2019-01-31 23:59:18,25914
25915,461,2019-01-31 23:59:48,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48,25915

In [21]:
freezer_18

,freezer_id,gw_time,status,fan_run,fan_trip,freez_run,freez_trip,defrost,ctrl_mode,ctrl_operation,operation,run_time,insert_dt,key
0,473,2019-01-29 15:46:18,1,1.0,0.0,1.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:18,19463
1,485,2019-01-29 15:46:18,1,1.0,0.0,0.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:18,19463
2,479,2019-01-29 15:46:18,1,1.0,0.0,0.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:18,19463
3,473,2019-01-29 15:46:41,1,1.0,0.0,1.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:41,19464
4,485,2019-01-29 15:46:41,1,1.0,0.0,0.0,0.0,0.0,0,1,1,946,2019-01-29 15:46:41,19464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20044,479,2019-01-31 23:59:11,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:11,25914
20045,473,2019-01-31 23:59:11,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:11,25914
20046,473,2019-01-31 23:59:42,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:42,25915
20047,479,2019-01-31 23:59:42,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:42,25915
20048,485,2019-01-31 23:59:42,1,1.0,0.0,0.0,0.0,0.0,0,1,1,1439,2019-01-31 23:59:42,25915

In [25]:
df = pd.merge(freezer_18, suth_4elem, how = 'inner', on = 'key').sort_values(by = 'key')
key = df['key']
gw_time_x = df['gw_time_x']
gw_time_y = df['gw_time_y']
df = df.drop(columns= ['key','gw_time_x','gw_time_y'])
df.insert(0,'key',key)
df.insert(1,'gw_time_x',gw_time_x)
df.insert(2,'gw_time_y',gw_time_y)
df

,key,gw_time_x,gw_time_y,freezer_id,status_x,fan_run,fan_trip,freez_run,freez_trip,defrost,...,sensor_id,status_y,color_list,avg_temperature,avg_humidity,temperature,humidity,battery,available,insert_dt_y
6603,8648,2019-01-30 11:25:06,2019-01-30 11:25:34,473,1,1.0,0.0,0.0,0.0,0.0,...,440,0,"{""humidity"": ""yellow"", ""temperature"": ""red"", ""...",-18.64,63.73,-18.38,60.43,100,1,2019-01-30 11:25:34
6605,8648,2019-01-30 11:25:06,2019-01-30 11:25:34,479,1,1.0,0.0,0.0,0.0,0.0,...,440,0,"{""humidity"": ""yellow"", ""temperature"": ""red"", ""...",-18.64,63.73,-18.38,60.43,100,1,2019-01-30 11:25:34
6604,8648,2019-01-30 11:25:06,2019-01-30 11:25:34,485,1,1.0,0.0,0.0,0.0,0.0,...,440,0,"{""humidity"": ""yellow"", ""temperature"": ""red"", ""...",-18.64,63.73,-18.38,60.43,100,1,2019-01-30 11:25:34
0,19463,2019-01-29 15:46:18,2019-01-29 15:46:36,473,1,1.0,0.0,1.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.67,42.20,3.43,44.53,100,1,2019-01-29 15:46:36
2,19463,2019-01-29 15:46:18,2019-01-29 15:46:36,479,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",3.67,42.20,3.43,44.53,100,1,2019-01-29 15:46:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19449,25914,2019-01-31 23:59:11,2019-01-31 23:59:18,485,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.88,3.96,41.02,100,1,2019-01-31 23:59:18
19451,25914,2019-01-31 23:59:11,2019-01-31 23:59:18,473,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.08,38.88,3.96,41.02,100,1,2019-01-31 23:59:18
19453,25915,2019-01-31 23:59:42,2019-01-31 23:59:48,479,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48
19452,25915,2019-01-31 23:59:42,2019-01-31 23:59:48,473,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48
19454,25915,2019-01-31 23:59:42,2019-01-31 23:59:48,485,1,1.0,0.0,0.0,0.0,0.0,...,461,0,"{""humidity"": ""green"", ""temperature"": ""red"", ""t...",4.09,38.87,3.96,41.00,100,1,2019-01-31 23:59:48

In [28]:
# mapping 안된 데이터 개수
freezer_18['key'].isnull().sum()

594